
*{
  text-align: center;
}
.pic{
  border:2px,solid,black;
  border-radius:20%;
}
.jumbotron{
  color:white;
  animation-name: background;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  background-size: cover;
  animation-timing-function: linear;
  
}
@keyframes background{
  0%{background-image: url("../images/photo1.jpg");

  }
  25%{background-image: url("../images/photo2.jpg");

  }
  50%{background-image: url("../images/photo3.jpg");
 
  }
  100%{
background-image: url("../images/photo4.jpg");
  }

 
  }
  #ekansh{
    border:2px,solid,black;
    border-radius:10%;
  }
  #end h3{
    letter-spacing: 2px;
  }
 
 #navbar {
  background: linear-gradient(242deg, #fc9f5b, #fbd1a2, #ece4b7, #7dcfb6, #33ca7f, #eadeda, #6564db, #89d2dc, #ffbc42, #ffffff, #588b8b);
  background-size: 2200% 2200%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 86%}
  50%{background-position:100% 15%}
  100%{background-position:0% 86%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 86%}
  50%{background-position:100% 15%}
  100%{background-position:0% 86%}
}
@keyframes AnimationName {
  0%{background-position:0% 86%}
  50%{background-position:100% 15%}
  100%{background-position:0% 86%}
}
  #cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-top{
    size: cover;
  }
  .space{
    margin: 5px;
  }
  /* .cards{
    border: 2px solid grey;
    border-radius:20%;
  } */
  .card{
    border: 2px solid white;
    border-radius:20%;
  }
.rgb
  {
    background: linear-gradient(242deg, #fc9f5b, #fbd1a2, #ece4b7, #7dcfb6, #33ca7f, #eadeda, #6564db, #89d2dc, #ffbc42, #ffffff, #588b8b);
    background-size: 2200% 2200%;
  
    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
  }
  .border{
    border:1px solid white;
    border-radius: 10%;
  }

#form{
  border: 1px solid white;
  border-radius: 10%;
}
#lang{
  justify-content: center;
  text-align: center;
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color:#84bce4;
}
